# Pandas

* Pandas kütüphanesi veri analizi için kullanılan bir kütüphanedir
* Panel Data'dan gelmektedir
* Yapısal verilerile çalışmak için kullanılır
* Veri manipülasyonu ve analizi için yazılmış açık kaynaklı bir Python kütüphanesidir.
* Ekonometrik ve finansal verilerle çalışmak için kullanılır

pip install pandas komutu ile pandas kütüphanesini kurulabilir

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\ali-a\appdata\local\programs\python\python311\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ali-a\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ali-a\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ali-a\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ali-a\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\ali-a\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

# Pandas Serisi Oluşturma
pd.Series() ile pandas serisi oluşturulabilir.

In [4]:
import pandas as pd
import numpy as np
seri= pd.Series([1,2,3,4,5,6,7,8,9])

In [6]:
print(seri)
print(type(seri))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
<class 'pandas.core.series.Series'>

.axes ile serinin başlangıç, bitiş ve adım değerini görebiliriz.

In [7]:
print(seri.axes)

[RangeIndex(start=0, stop=9, step=1)]

dtype ile serinin veri tipini görebiliriz

In [8]:
print(seri.dtype)

int64

.size ile boyutunu görebiliriz

.ndim ile serinin boyut sayısını görebiliriz

In [9]:
print(seri.size)
print(seri.ndim)

9
1

.values ile serini değerini görebiliriz

.head() ile serinin ilk 5 değerini görebiliriz. Eğer isterseniz .head(10) diyerek ilk 10 değeri görebiliriz.

In [10]:
print(seri.values)

print(seri.head())

[1 2 3 4 5 6 7 8 9]
0    1
1    2
2    3
3    4
4    5
dtype: int64

.tail ile serinin son 5 değerini görebiliriz. İsterseniz .tail(10) ile son 10 değerini görebiliriz.

In [11]:
print(seri.tail())

4    5
5    6
6    7
7    8
8    9
dtype: int64

In [14]:
seri=pd.Series([99,22,332,94,5], index=["a","b","c","d","e"])
print(seri)

a     99
b     22
c    332
d     94
e      5
dtype: int64

In [16]:
print(seri["a"])

print(seri["a":"c"])

99
a     99
b     22
c    332
dtype: int64

In [18]:
sozluk={"reg":10,"log":10,"cart":12}
seri= pd.Series(sozluk)
print(seri)

reg     10
log     10
cart    12
dtype: int64

In [21]:
randomNumbers=np.random.randint(10,100,5)
pandas= pd.Series(randomNumbers)
print(pandas[0])

67

In [22]:
seri=pd.Series([200,121,150,99], index=["a","b","c","d"])
print(seri)

a    200
b    121
c    150
d     99
dtype: int64

# Pandas DataFrame Oluşturma

#### pd.DataFrame()
* DataFrame oluşturabilirsiniz
* columns parametresi ile kolon isimlerini belirleyebiliriz.
* index parametresi ile index isimlerini belirleyebiliriz.

In [23]:
l = [1,2,3,4,5]
pd.DataFrame(l,columns=["Değişken İsmi"])

   Değişken İsmi
0              1
1              2
2              3
3              4
4              5

In [25]:
m = np.arange(1,10).reshape((3,3))
pd.DataFrame(m,columns=["1","2","3"])

   1  2  3
0  1  2  3
1  4  5  6
2  7  8  9

In [26]:
df=pd.DataFrame(m,columns=["var1","var2","var3"])
df.head(2)

   var1  var2  var3
0     1     2     3
1     4     5     6

In [28]:
df.columns={"değişken1","değişken2","değişken3"}
df

   değişken2  değişken1  değişken3
0          1          2          3
1          4          5          6
2          7          8          9

In [ ]:
df.axes

In [34]:
df.shape

(3, 3)

In [33]:
df.ndim

2

In [32]:
df.size

9

In [31]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [35]:
df.tail(1)

   değişken2  değişken1  değişken3
2          7          8          9

# Eleman İşlemleri

In [41]:
s1=np.random.randint(10,size=5)
s2=np.random.randint(10,size=5)
s3=np.random.randint(10,size=5)

In [42]:
sozluk={"var1":s1,"var2":s2,"var3":s3}
df=pd.DataFrame(sozluk)

In [43]:
df

   var1  var2  var3
0     7     1     7
1     4     2     8
2     3     6     6
3     8     3     0
4     1     4     8

In [44]:
df[0:1]

   var1  var2  var3
0     7     1     7

In [46]:
df.index=["a","b","c","d","e"]
df

   var1  var2  var3
a     7     1     7
b     4     2     8
c     3     6     6
d     8     3     0
e     1     4     8

* df.drop() ile kolon ya da satır silme işlemi yapabiliriz.
* axis=1 ile kolon silme işlemi, axis=0 ile satır silme işlemi yapabiliriz.

In [47]:
df.drop("a",axis=0)

   var1  var2  var3
b     4     2     8
c     3     6     6
d     8     3     0
e     1     4     8

In [48]:
df

   var1  var2  var3
a     7     1     7
b     4     2     8
c     3     6     6
d     8     3     0
e     1     4     8

inplace parametresi ile değişikliği kalıcı kaydetme işlemi yapabiliriz. Diğer durumlarda değişiklikler geçici olarak kaydedilir.

In [49]:
df.drop("a",axis=0, inplace=True)7

In [50]:
df

   var1  var2  var3
b     4     2     8
c     3     6     6
d     8     3     0
e     1     4     8

In [51]:
liste=["var1","var2","var3"]
for i in liste:
    print(i in liste)

True
True
True

In [53]:
df["var4"] = df["var1"]/df["var2"]
df

   var1  var2  var3      var4
b     4     2     8  2.000000
c     3     6     6  0.500000
d     8     3     0  2.666667
e     1     4     8  0.250000

In [58]:
df.drop("var1",axis=1,inplace=True)
df

   var2  var3
b     2     8
c     6     6
d     3     0
e     4     8

In [59]:
liste= ["var3","var2"]
df.drop(liste,axis=1)

Empty DataFrame
Columns: []
Index: [b, c, d, e]

# Gözlem ve Değişken Seçimi

In [62]:
m=np.random.randint(1,30,size=(10,3))
df=pd.dataFrame(m,columns=["var1","var2","var3"])
df

AttributeError: module 'pandas' has no attribute 'dataFrame'

## loc

* Tanımladığı şekiliyle seçim yapmak için kullanılır.

In [63]:
df.loc[0:3]

TypeError: cannot do slice indexing on Index with these indexers [0] of type int